<div>
    <h2>Agregar publicacion</h2>
</div>

<form action="/agregar-publi" method="post">
    <label for="">Titulo</label>
    <input type="text" placeholder="titulo noticia" name="titulo">
    <label for="">Contenido</label>
    <textarea name="texto"  cols="30" rows="10" placeholder="texto noticia"></textarea>
    <input type="submit" value="publicar" class="btn">
</form>