<!-- <h3>Registrar</h3>
<form action="/registrar" method="POST"> 
    <label for="">usuario</label>
    <input type="text" name="usuario">
    <label for="">password</label>
    <input type="password" name="password">
    <button>Registrarse</button>
</form> -->

<h3>Login</h3>
<form action="/login" method="POST"> 
    <label for="">usuario</label>
    <input type="text" name="usuario">
    <label for="">password</label>
    <input type="password" name="password">
    <button>login</button>
</form>