
<div class="searchBar">
<div class="container">
<form action="/search" method="POST" class="search__form" >

    <input type="search" name="buscador" id="searchInput" placeholder="Buscar en la web">
</form>
<div id="searchClose">Cerrar</div>
</div>
</div>

