<header class="header">
<a href="/" class="header__logo">Admin</a>
<!--agregar el nombre del admin -->
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
    </ul>
    <ul>
        <li><a href="/acercade">Acerca de </a></li>
    </ul>
    <ul>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>

<div class="header__button">
    <a href="/logout">Cerrar sesion</a>

</div>
</header>